@layout('layouts.app')
@section('content')
<div class="general">
<div style="height:500px; background-image:url('images/D.jpg'); word-spacing: 7px;text-align:center; color:white; ">
<br/>
<br/>
<br/>
<br/><br/>
<h3>Congratulations!</h3>
<hr/>
<h4>Your order is successful!<br/><br/>
The product will be delivered to you shortly.
<br/><br/>Keep <a href="/productsPage">shopping</a> with us but don't forget to empty your old cart ;)</h4>
</div>
</div>
@endsection